:css
  #sorted-rankings, #unsorted-rankings {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em;
    width: 100%;
  }

  #sorted-rankings {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 0;
    min-height: 100px;
    display: inline-block;
  }

  #sorted-rankings li, #unsorted-rankings li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
  .sortable-list {
    float: left;
    width: 45%;
    margin-right: 20px;
  }
#stack-rankings.carousel.slide{data: {interval: 'false'}}
  .carousel-inner
    - @rank_categories.each_with_index do |category, i|
      .item{class: "#{"active" if i == 0}"}
        %p
          %strong
            = "#{i+1}. #{category.title}"
        %p= category.description

        .sortable-list
          %p.h4 Sorted
          %ul#sorted-rankings.skill-list{data: {update_url: sort_rankings_url}}
            - category.rankings.where(author_id: current_user.id).where('position IS NOT NULL').each do |ranking|
              = content_tag_for :li, ranking, class: "ui-state-default" do
                = ranking.subject.name

        .sortable-list
          %p.h4 Unsorted
          %ul#unsorted-rankings.skill-list{data: {update_url: sort_rankings_url}}
            - category.rankings.where(author_id: current_user.id).where('position IS NULL').each do |ranking|
              = content_tag_for :li, ranking, class: "ui-state-default" do
                = ranking.subject.name
:javascript
  $(function() {
    $('#sorted-rankings').sortable({
      axis: "y",
      cursor: "move",
      update: function( event, ui ) {
        $.post($(this).data('update-url'), $(this).sortable('serialize'));
      },
    });

    $('#unsorted-rankings').sortable({
      cursor: "move",
      connectWith: ".skill-list"
    });
  })
