- if @meta_feedback
  = simple_form_for @meta_feedback, remote: true do |f|
    = f.hidden_field :feedback_id
    - response_options = ["Strongly Disagree", 1] , ["Disagree", 2], ["Neutral", 3], ["Agree", 4], ["Strongly Agree", 5]
    %p= @meta_feedback.feedback.content
    %p
      Do you think this feedback is...
    %p= f.input(:specificity_score, collection: response_options, prompt: "Select one...", label: "...specific")
    %p= f.input(:actionability_score, collection: response_options, prompt: "Select one...", label: "...actionable")
    %p= f.input(:kindness_score, collection: response_options, prompt: "Select one...", label: "...kind")
    %p= f.submit
- else
  There is no feedback available for you to review. Check back soon!