= @circle.name
= "(#{@circle.contacts.count})"

%ul
  = render @circle.contacts

= simple_form_for @membership, html: {class: 'form-inline'} do |f|
  = f.input(:circle, source: google_contacts_path, placeholder: 'Add a contact')
  = f.submit("Add", class: 'btn btn-primary')

:javascript
  $('.circle').GPlusCircle();