!!!
%html{:lang => "en"}
  %head
    %title Loopb.ac
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Peer feedback made simple", :name => "description"}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to(image_tag("loopbac_logo_50.png"), root_path, class: "brand")
          .nav-collapse.collapse
            %p.navbar-text.pull-right
              - if user_signed_in?
                %span.dropdown
                  %a.navbar-link{href: "#"}
                    = image_tag(current_user.gravatar_url, class: 'profile-icon')

                  = link_to('Sign out', signout_path)
    .container-fluid
      .row-fluid
        .span12
          - [:notice, :alert].each do |level|
            - unless flash[level].blank?
              .alert{class: flash_class(level)}
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = flash[level]
          = yield
