!!!
%html{:lang => "en"}
  %head
    %title Loopb.ac
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Peer feedback made simple", :name => "description"}/
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          = link_to(image_tag("loopbac_logo_50.png"), root_path, class: "brand")
          %ul.nav.pull-right
            %li.dropdown
              - if user_signed_in?
                %a#user-menu.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
                  = image_tag(current_user.gravatar_url, class: 'profile-icon')
                  %b.caret
                %ul.dropdown-menu{aria_labelledby: "user-menu", role: "menu"}
                  %li= link_to('Sign out', signout_path)
                  %li= link_to('Set Managers', new_admin_managership_path) if can?(:manage, :managers)
                  %li= link_to('Edit Core Values', new_manager_core_value_path) if can?(:manage, :core_values)
              - else
                = link_to('Sign in', root_url(:subdomain => 'app'))
    .container-fluid
      .row-fluid
        .span12
          - [:notice, :alert].each do |level|
            - unless flash[level].blank?
              .alert{class: flash_class(level)}
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = flash[level]
          = yield
